* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: #F1E4DB;
    padding-left: 6%;
    padding-right: 6%;
}

nav {
    width: 100%;
    padding: 40px 0;
    display: flex;
    align-items: center;
}

.logo {
    flex: 1;
}

.logo img {
    width: 170px;
    cursor: pointer;
}

button {
    padding: 15px 40px;
    border: 0;
    outline: none;
    border-radius: 25px;
    background: #333;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.menu-icon {
    width: 50px;
    margin-left: 2rem;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.fila {
    display: flex;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
}

.col-1,
.col-2 {
    flex-basis: 50%;
    overflow: hidden;
}

.col-2 {
    width: 100%;
}